{% extends "main/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<meta id="day-data" data-day="{{day}}">
<link href="{{ url_for('requests.static', filename='css/form.css') }}" rel="stylesheet">

<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-md-9">
      <section class="py-5">
        <div class="items_container container px-4 px-lg-5">
          <div class="card pb-3">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#description" role="tab" aria-controls="description"
                    aria-selected="true">Schedule</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content mt-3">
                <div class="tab-pane active" id="description" role="tabpanel">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Day</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for shift in shifts %}
                      <tr>
                        <td>{{shift.course}}</td>
                        <td>{{shift.day}}</td>
                        <td> {{shift.start.strftime("%I:%M")}}-{{shift.end.strftime("%I:%M %p")}}</td>
                        <td>
                          {% if shift.id == shiftid %}
                          <a href="{{url_for('main.profile')}}" class="btn btn-secondary" role="button">Cancel</a>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>

                  </table>
                </div>


              </div>
            </div>

          </div>

          <!-- Request form -->
          <div class="card border-dark mb-3">
            <h4 class="card-header px-3 py-3">Edit Request</h3>
            <div class="class-block pt-3">
              <fieldset class="form-group px-3 py-1 md-2">
                <form id="request_form" method="POST" action="" enctype=multipart/form-data>
                  {{ form.hidden_tag() }}

                  <!-- Date requested -->
                  <div class="form-group row">
                    <label for="date_requested" class="col-sm-2 col-form-label"><strong>Date<span style="color:#ff0000">*</span></strong></label>
                    <div class="col-sm-3">
                      {% if form.date_requested.errors %}
                        {{ form.date_requested(class="form-control is-invalid", id="date_requested", type="date") }}
                        <div class="invalid-feedback">
                            {% for error in form.date_requested.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                      {% else %}
                        {{ form.date_requested(class="form-control", id="date_requested", type="date") }}
                      {% endif %}
                      <div class="error-message pt-1" id = "date_error"></div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-2"><strong>Base Price</strong></div>
                    <div class="col-md-10" id="base_price">{{base}}</div>
                  </div>

                  <div class="form-group row">
                    <label for="bonus" class="col-sm-2 col-form-label"><strong>Bonus</strong></label>
                    <div class="col-sm-3">
                      {% if form.bonus.errors %}
                        {{ form.bonus(class="form-control is-invalid", id="bonus") }}
                        <div class="invalid-feedback">
                            {% for error in form.date_requested.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                      {% else %}
                        {{ form.bonus(class="form-control", id="bonus") }}
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-5">
                      <a class="btn btn-secondary" href="{{url_for('main.profile')}}">Cancel</a>
                      {{ form.submit(class="btn btn-primary", id="submit") }}
                      {% if form.submit.errors %}
                        <ul class=errors>
                          {% for error in form.submit.errors %}
                            <li>{{error}}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div class="error-message" id = "form_error"></div>
                  </div>
              </fieldset>
            </form>

          </div>
        </div>
      </div>
    </section>
              </form>

            </div>
          </div>
        </div>
      </section>
    </div>

  </div>

  <!-- left padding -->
  <div class="col-md-1"></div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{url_for('requests.static', filename='js/script.js')}}"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
{% endblock content %}