{% extends "main/base.html" %}
{% block content %}
<!-- Header-->
<style>
    #createform {
        padding-left: 100px;
        padding-right: 100px;
    }
</style>
<div class="col-md-9">
  <section class="py-5">
    <div class="items_container container px-4 px-lg-5">


      <!-- Items -->
      <div id="posts" class="
          row
          gx-4 gx-lg-5
          row-cols-1 row-cols-md-2 row-cols-xl-3
          justify-content-center
        ">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Day</th>
              <th scope="col">Shift</th>

            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td>{{shift.course}}</td>
              <td>{{shift.day}}</td>
              <td> {{shift.start.strftime("%I:%M")}}-{{shift.end.strftime("%I:%M %p")}}</td>
              
            </tr>
            
          </tbody>
        </table>
  </section>
</div>
<div id="createform" style="padding-left:40%;padding-right:40%;padding-top:5%" class="content-section">
    <form method="POST" action="" enctype=multipart/form-data>

        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <span>Swap</span>
            {% for subfield in form.isSwap %}
            <div class="form-check">
                {{ subfield(class="form-check-input") }}
                {{ subfield.label(class="form-check-label") }}
            </div>
            {% endfor %}
            <br />
            
            <div class="form-group">
                {{ form.date_requested(class="form-control", id="date_requested", type="date", placeholder="Date Requested") }}    
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>

    </form>

</div>

<script src="https://code.jquery.com/jquery-1.5.js"></script>


{% endblock content %}