{% extends "main/base.html" %}

{% block content %}

<div class="container" style="margin-top: 75px">
    <h1 class="mt-5 mb-5 text-center">How to use the Sub/Swap platform</h1>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Overview</h2>
            <p class="mb-5">
                The sub/swap platform was designed to make requesting shift covers fairer, fulfill more requests, and
                increase transparency. It provides an online marketplace where students can <em>buy-out</em> of
                attending their shifts using virtual currency. Prices are determined by the amount of notice given, thus
                incentivizing students to post their requests as early as possible. By using the platform, users no
                longer need to go through the hassle of finding someone to cover their shift or swapping shifts with
                someone else after posting their request.
            </p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-8 mx-auto">
            <h2 class="mb-3">Pricing</h2>
            <p class="mb-3">
                Requests are currently priced based on how many days in advance they are posted using the following
                scheme:
            </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Notice (Number of days)</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>7+</td>
                        <td>30</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Every semester, users receive 300 credits, plus any unused credits from prior semesters. Your credit
                count is displayed in the navigation bar.
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-8 mx-auto">
            <h2 class="mb-3">How to create a request</h2>
            <img src="{{ url_for('main.static', filename='pictures/create_request.jpg') }}"
                alt="Screenshot of request creation page" class="img-fluid mb-4">
            <ol>
                <li>Every semester, Lab TA administrators will populate the platform with your permanent shift
                    assignments, which you can view on the "Profile" page.</li>
                <li>To create a request, click the "Request" button next to the shift and enter the date you want
                    covered. If you have enough credits, it will display the price and you can submit the request.
                </li>
            </ol>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-8 mx-auto">
            <h2 class="mb-3">Accepting a request</h2>
            <img src="{{ url_for('main.static', filename='pictures/dashboard.jpg') }}" alt="Screenshot of dashboard"
                class="img-fluid mb-4">
            <p>All active requests are displayed on the Dashboard. You can switch between different courses at the top.
                You can accept a request in two different ways:</p>
            <h3 class="mb-2">Sub</h3>
            <p>Accepting a request as a sub means taking on an extra shift. Once accepted, the price for the shift will
                be credited to you and you can view it in the "Upcoming Accepted Requests" tab in your Profile page.</p>
            <img src="{{ url_for('main.static', filename='pictures/accepted_requests.jpg') }}"
                alt="Screenshot of the accepted requests section" class="img-fluid mb-4">

            <h3 class="mb-2">Swap</h3>
            <p>If you want to attend a shift instead of one of your own you can opt to swap. When you do, your chosen
                shift will be posted as a new request. You will not get any credits for accepting a request as a swap,
                and you will not be charged for the new request that is created.</p>
            <img src="{{ url_for('main.static', filename='pictures/swap_shift.jpg') }}" alt="Screenshot of swap list"
                class="img-fluid mb-4">
        </div>
    </div>
</div>

{% endblock content %}