{% extends "main/base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-md-12">
      <section class="py-5">
        <div class="items_container container px-4 px-lg-5">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                {% for course in requests %}
                  <li class="nav-item">
                    {% if loop.index == 1%}
                    <a class="nav-link active" href="#{{course|escape}}" role="tab" aria-controls="{{course|escape}}", aria-selected="true">{{course|escape}}</a>
                    {% else %}
                    <a class="nav-link" href="#{{course|escape}}" role="tab" aria-controls="{{course|escape}}", aria-selected="false">{{course|escape}}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content mt-3">
                {% for course in requests %}
                    {% if loop.index == 1 %}
                        <div class="tab-pane active" id="{{course|escape}}" role="tabpanel">
                    {% else %}
                        <div class="tab-pane" id="{{course|escape}}" role="tabpanel" aria-labelledby="{{course|escape}}-tab">
                    {% endif%}
                        <table class="table">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">netid</th>
                              <th scope="col">Date</th>
                              <th scope="col">Shift</th>
                              <th scope="col">Date Posted</th>
                              <th scope="col">Reward</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for request in requests[course] %}
                            <tr>
                              <th scope="row">{{request.posted_by[0].netid}}</th>

                              <td>{{request.shift[0].day}}, {{request.date_requested.strftime('%m-%d-%Y')}}</td>
                              <td> {{request.shift[0].start.strftime("%I:%M")}}-{{request.shift[0].end.strftime("%I:%M %p")}}
                              </td>
                              <td>{{ request.date_posted.strftime('%Y-%m-%d') }}</td>
                              <td>{{request.get_price()}} </td>
                              <td>
                                {% if request.posted_by[0] == current_user %}
                                <a href="{{url_for('requests.edit_request', requestid=request.id)}}" class="btn btn-info"
                                  role="button">Edit</a>
                                <a href="{{url_for('requests.delete_request', requestid=request.id)}}" class="btn btn-danger"
                                  role="button">Delete</a>
                                {% else %}
                                <a href="{{url_for('requests.sub_request', requestid=request.id)}}" class="btn btn-primary"
                                  role="button">Sub</a>

                                <button
                                    type="button"
                                    class="btn btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#swap{{request.id}}"
                                    data-requestid={{request.id}}
                                    onclick="modalButtonClick()"
                                  >
                                  Swap
                                  </button>
                                {% endif %}
                              </td>
                            </tr>
                            <div
                                class="modal fade"
                                id="swap{{request.id}}"
                                tabindex="-1"
                                aria-labelledby="exampleModalLabel"
                                aria-hidden="true"
                                >
                                <div class="modal-dialog modal-dialog-centered" style="text-align: left;">
                                    <div class="modal-content">
                                      <div class="bg-secondary modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">
                                            {{course}}, {{request.shift[0].day}}, {{request.date_requested.strftime('%m-%d-%Y')}}
                                          </h5>
                                          <button
                                          type="button"
                                          class="btn-close"
                                          data-bs-dismiss="modal"
                                          aria-label="Close"
                                          ></button>
                                      </div>
                                      <div class="modal-body" id="swap_modal_body_{{request.id}}">
                                      </div>
                                      <div class="bg-secondary modal-footer">
                                          <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                                          Cancel
                                          </button>
                                          <button
                                          type="button"
                                          class="btn btn-primary btn-ok"
                                          onclick="swap_request('{{request.id}}')"
                                          data-bs-dismiss="modal"
                                          id="modal_submit_{{request.id}}"
                                          >
                                          Submit
                                          </button>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            {% endfor %}
                          </tbody>

                        </table>
                      </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- left padding -->
    <div class="col-md-1"></div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{url_for('main.static', filename='js/script.js')}}"></script>
<script>
  $('#bologna-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>

{% endblock content %}