{% extends "main/base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-md-12">
      <section class="py-5">
        <div class="items_container container px-4 px-lg-5">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#description" role="tab" aria-controls="description"
                    aria-selected="true">Schedule</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#history" role="tab" aria-controls="history" aria-selected="false">Accepted
                    Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#deals" role="tab" aria-controls="deals" aria-selected="false">History</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content mt-3">

                <div class="tab-pane active" id="description" role="tabpanel">
                  {% if shifts|length > 0 %}
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Day</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for shift in shifts %}
                      <tr>
                        <td>{{shift.course}}</td>
                        <td>{{shift.day}}</td>
                        <td> {{shift.start.strftime("%I:%M")}}-{{shift.end.strftime("%I:%M %p")}}</td>
                        <td>
                          <a href="{{url_for('requests.create_request', shiftid=shift.id)}}" class="btn btn-primary"
                            role="button">Request</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  <p>You have not been assigned any permanent shifts!</p>
                  {% endif %}
                </div>

                <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">
                  {% if requests|length > 0 %}
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">netid</th>
                        <th scope="col">Course</th>
                        <th scope="col">Date</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Date Posted</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for request in requests%}
                      <tr>
                        <th scope="row">{{request.posted_by[0].netid}}</th>
                        <td>{{request.shift[0].course}}</td>
                        <td>{{request.shift[0].day}}, {{request.date_requested.strftime('%m-%d-%Y')}}</td>
                        <td> {{request.shift[0].start.strftime("%I:%M")}}-{{request.shift[0].end.strftime("%I:%M %p")}}
                        </td>
                        <td>{{ request.date_posted.strftime('%Y-%m-%d') }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                    <p>You have not accepted any requests yet!</p>
                  {% endif %}

                </div>

                <div class="tab-pane" id="deals" role="tabpanel" aria-labelledby="deals-tab">
                  {% if history|length > 0 %}
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">netid</th>
                        <th scope="col">Course</th>
                        <th scope="col">Date</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Date Posted</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for request in history%}
                      <tr>
                        <th scope="row">{{request.posted_by[0].netid}}</th>
                        <td>{{request.shift[0].course}}</td>
                        <td>{{request.shift[0].day}}, {{request.date_requested.strftime('%m-%d-%Y')}}</td>
                        <td> {{request.shift[0].start.strftime("%I:%M")}}-{{request.shift[0].end.strftime("%I:%M %p")}}
                        </td>
                        <td>{{ request.date_posted.strftime('%Y-%m-%d') }}</td>
                        <td>Accepted by {{request.accepted_by[0].netid}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  <p>You have not posted any requests yet!</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- left padding -->
    <div class="col-md-1"></div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script>
  $('#bologna-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>

<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
{% endblock content %}