{% extends "main/base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-md-12">
      <section class="py-5">
        {% if not current_user.is_sub()%}
        <div class="items_container container px-4 px-lg-5">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#schedule" role="tab" aria-controls="schedule"
                    aria-selected="true">Permanent Schedule</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#history" role="tab" aria-controls="history" aria-selected="false">Posting
                    History</a>
                </li>
              </ul>
            </div>
            <div class="card-body" style="overflow-x: auto;">
              <div class="tab-content mt-3">

                <div class="tab-pane active" id="schedule" role="tabpanel">
                  {% if shifts|length > 0 %}
                  <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Day</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for shift in shifts %}
                      <tr>
                        <td>{{shift.course}}</td>
                        <td>{{shift.day}}</td>
                        <td> {{shift.start.strftime("%I:%M")}}-{{shift.end.strftime("%I:%M %p")}}</td>
                        <td>
                          <a href="{{url_for('requests.create_request', shiftid=shift.id)}}" class="btn btn-primary"
                            role="button">Request</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  <p>You have not been assigned any permanent shifts!</p>
                  {% endif %}
                </div>


                <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">
                  {% if history|length > 0 %}
                  <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Date</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Date Posted</th>
                        <th scope="col">Status</th>
                        <th scope="col">Credits Used</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for request in history%}
                      <tr>
                        <td>{{request.shift[0].course}}</td>
                        <td>{{request.shift[0].day}}, {{request.date_requested.strftime('%m-%d-%Y')}}</td>
                        <td> {{request.shift[0].start.strftime("%I:%M")}}-{{request.shift[0].end.strftime("%I:%M %p")}}
                        </td>
                        <td>{{ request.date_posted.strftime('%Y-%m-%d') }}</td>
                        {% if request.accepted %}
                        <td>Accepted by {{request.accepted_by[0].netid}}</td>
                        {% else %}
                        <td>Expired</td>
                        {% endif%}
                        <td>{{ request.base_price }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  <p>You have not posted any requests yet!</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="items_container container px-4 px-lg-5">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#upcoming_reqs" role="tab" aria-controls="upcoming_reqs"
                    aria-selected="true">Upcoming Accepted Requests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#past_reqs" role="tab" aria-controls="past_reqs" aria-selected="false">Past
                    Accepted Requests</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content mt-3">
                <div class="tab-pane active" id="upcoming_reqs" role="tabpanel" aria-labelledby="upcoming_reqs-tab">
                  {% if upcoming_reqs|length > 0 %}
                  <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">NetID</th>
                        <th scope="col">Course</th>
                        <th scope="col">Date</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Date Posted</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for request in upcoming_reqs%}
                      <tr>
                        <th scope="row">{{request.posted_by[0].netid}}</th>
                        <td>{{request.shift[0].course}}</td>
                        <td>{{request.shift[0].day}}, {{request.date_requested.strftime('%m-%d-%Y')}}</td>
                        <td> {{request.shift[0].start.strftime("%I:%M")}}-{{request.shift[0].end.strftime("%I:%M %p")}}
                        </td>
                        <td>{{ request.date_posted.strftime('%Y-%m-%d') }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  <p>You do not have any upcoming requests to fulfill!</p>
                  {% endif %}
                </div>

                <div class="tab-pane" id="past_reqs" role="tabpanel" aria-labelledby="past_reqs-tab">
                  {% if past_reqs|length > 0 %}
                  <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">netid</th>
                        <th scope="col">Course</th>
                        <th scope="col">Date</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Date Posted</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for request in past_reqs%}
                      <tr>
                        <th scope="row">{{request.posted_by[0].netid}}</th>
                        <td>{{request.shift[0].course}}</td>
                        <td>{{request.shift[0].day}}, {{request.date_requested.strftime('%m-%d-%Y')}}</td>
                        <td> {{request.shift[0].start.strftime("%I:%M")}}-{{request.shift[0].end.strftime("%I:%M %p")}}
                        </td>
                        <td>{{ request.date_posted.strftime('%Y-%m-%d') }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  <p>No requests to show!</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- left padding -->
    <div class="col-md-1"></div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script>
  $('#bologna-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>

<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
{% endblock content %}